/* formattazione del contenitore */
.container{
  width: 70%;
  margin: /* 0 */ auto;
}

/* sfondo header */
.sfondo{
  /* background-size per grandezza foto */
  width: 100%;
  height: 180px;
  background-color: rgb(0, 255, 255);
  background-image: url('../img/pattern.png');
  
}

/* posizione logo */
 .logo{  /* width per grandezza logo */
  margin-top: 100px;
}

/* info vicine al titolo */
h1{
  margin-bottom: 0;
  /* line-height per gestire lo spazio in verticale */
}

/* colore info */
.info{
  color: darkgrey;
}

/* grandezza e posizione delle foto */
.info, .photo-info{
  font-size: 10px;
  margin: 0;
}

/* allineamento foto */
/*obsoleto
.tim1{
  width: 482px;
}

.tim2{
  width: 412px;
}
*/
/* testo evidenziato */
.evidenziato{
  background-color: yellow;
}

/* formattazione tabelle (celle uguali e collegate */
table{
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* obsoleto*/
}

/* colore sfondo celle */
.thead{
  background-color: rgb(0, 140, 255);
  color: white;
}

.tr1, .tr3{
  background-color: rgb(144, 205, 255);
}

/* .text{
      width: 50%; per la grandezza delle celle
} */

/* posizionamento testo nelle celle */
th, td{
  margin-right: 10px;
  padding-right: 10px;
  text-align: left;
}

/* grandezza testo */
footer .info{
  font-size: 16px;
  font-weight: 700;
}

/* formattazione articolo consigliato 1 */
.monitor{
  width: 100%;
  height: 200px;;
  background-image: url('../img/monitor.jpg');
  background-repeat: no-repeat;
  font-size: 24px;
  color: white;
  padding: 10px;
  font-weight: 700;
}

 .pmonitor{
  margin: 0px;
}

/* formattazione articolo consigliato 2 */
.grafico{
  width: 100%;
  height: 200px;
  background-image: url('../img/graph.jpg');
  background-repeat: no-repeat;
  font-size: 24px;
  color: white;
  padding: 10px;
  font-weight: 700;
}

.pgrafico{
  margin: 0px;
}

